body{
    text-align: center;
}
#gamearea{
    display:block;
    justify-content: center;
}
#explanation{
    width:fit-content;
    height: auto;
    padding: 15px;
    border: 1px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    display: block;
    margin: auto;
}
#stats{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}
#fight p{
    margin-top: 0px;
    margin-bottom: 0px;
}
ul.statslist{
    list-style-type: none;
    border: solid black;
    padding-left: unset;
    text-align: left;
}
#fightlog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
#all_dead{
    color:goldenrod ;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0px 0 1px black;
}
.log_box {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column-reverse; /* ← これで新しいログが上に表示される */
  }
  .log-box p {
    margin: 2px 0;
  }

/*スマホ用*/
@media (max-width: 600px) {
    body{
        display:block;
        justify-content: center;
        width: 100%;
    }
    button{
        font-size: 18px;
        margin-bottom: 1%;
    }
    #explanation{
        width: 90%;
        height: auto;
        padding: 15px;
        border: 1px solid black;
        padding: 10px;
        background-color: #f9f9f9;
        display: block;
        margin: auto;
    }
    #stats{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0px;
    }
    #fightlog{
        margin: auto;
        width: 80%;
        height: auto;
    }
}